.nqp-node-titles {
  background: #eee;
  padding: 10px 20px;
  margin: 0 0 20px 0;
}

.nqp-nodequeue-empty,
.nqp-node-title,
.nqp-node-title a:link,
.nqp-node-title a:visited {
  color: #999;
  text-decoration: none;
}

.nqp-node-title a:hover,
.nqp-node-title a:active {
  color: #999;
  text-decoration: underline;
}

.nqp-node-title-existing,
.nqp-node-title-existing a:link,
.nqp-node-title-existing a:visited {
  color: #000;
}

.nqp-node-title-added {
  color: #090;
}

.nqp-node-title-removed,
.nqp-node-title-removed a:link,
.nqp-node-title-removed a:visited {
  color: #c00;
  text-decoration: line-through;
}
